main>.container {
    padding: 20px 25px 0;
}

.event_box a {
    text-decoration: none;
}

.event_box li {
    margin-bottom: 15px;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}


.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

ul {
    padding-left: 0px;
    list-style-type: none;
    margin-left: 0px;
}

ul li a {
    text-decoration: none;
}

.card a {
    text-decoration: none;
}

.card h3,
.card p {
    color: #333;
}