{% extends 'base.html' %}

{% block header %}
<h1 class="display-6 fw-bold lh-1">{{object.name}}</h1>
<h3 class="display-6 lh-3">{{object.sub_title}}</h3>

<p>
am <b>{{object.date}} Uhr</b>, eingestellt von  {{object.author}}
in <a href="{% url 'events:category_detail' object.category.pk %}">
{{object.category}}</a>
</p>

{% if user == object.author %}
<p>
  <a href="{% url 'events:event_update' object.pk %}">Event editieren</a> | 
  <a href="{% url 'events:event_delete' object.pk %}">Event löschen</a>
</p>
{% endif %}

{% endblock %}

{% block content %}
<div class="container">
<div class="col-lg-8 col-sm-12">

<h3>Beschreibung</h3>
<p>{{object.description}}</p>

<section class="mb-5 mt-5">
<h3>zusätzliche Infos</h3>

<ul>
  <li>eingestellt am: {{object.created_at}}</li>
  <li>eingestellt von: {{object.author}}</li>
  <li><b>findet statt am (deutsche Zeit): {{object.date}}</b></li>
  <li>Min Gruppengröße: {{object.get_min_group_display}}</li>
  <li>Min Gruppengröße: {{object.min_group}}</li>
  <li>Tags: {{object.tags.all|join:", "}}</li>
</ul>
</section>

{% comment %}
Ähnliche Events nur anzeigen, wenn Einträge vorhanden
{% if object.related_events.exists %}
  <section class="mb-5 mt-5">
  <h3>Ähnliche Events</h3>
  <ul>
  {% for event in object.related_events %}
    <li>{{event}}</li>
  {% endfor %}
  </ul>
  </section>
{% endif %}
{% endcomment %}

<section class="mb-5 mt-5">
  <h3>Ähnliche Events</h3>
  <ul>
  {% for event in object.related_events %}
    <li>{{event}}</li>
  {% empty %}
    <li>Leider befinden sich keine ähnlichen Events im System</li>
  {% endfor %}
  </ul>
  </section>


</div>
</div>

<canvas id="polar-chart" width="800" height="450"></canvas>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
</script>

<script>
/*
Beispiel, wie man ein JS Chart mit einem Ajax-Aufruf mit Daten 
von Django füllen kann. Fetch holt dazu die Daten von dem Endpunkt
und wandelt sie per json in einen Json-Stream um, der dann an Chart
übergeben wird.
*/


window.addEventListener("load", (event) => {
  console.log("page is fully loaded");
  fetch('/events/getdata')
    .then(response => response.json())
    .then(data => {

        new Chart(document.getElementById("polar-chart"), {
            type: 'polarArea',
            data: {
              labels: ["Africa", "Asia", "Europe", "Latin America",
"North America"],
              datasets: [
                {
                  label: "Population (millions)",
                  backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850"],
                  data: data
                }
              ]
            },
            options: {
              title: {
                display: true,
                text: 'Predicted world population (millions) in 2050'
              }
            }
        });
    })
    .catch(error => console.error('Error:', error));
});
</script>

{%endblock%}
