{% extends 'base.html' %}

{% block title %}
Event Übersicht
{% endblock %}

{% block header %}
<h1 class="display-6 fw-bold lh-1">Event Übersicht</h1>
<p>Tolle Events in deiner Nähe</p>

{% if searched %}
<p>Ihr Suchwort: {{searched}}</p>
{% endif %}

<p><a href="{% url 'events:event_create' %}">Neuen Event hinzufügen</a></p>

{% endblock %}

{% block content %}
<ul class="list-group event_box">
{% for event in event_list %}
<a href="{% url 'events:event_detail' event.pk %}">

    <li class="list-group-item rounded">
    <small><span>am {{event.date}}</span></small><br>
    <b>{{event.name}}</b>
        <span class="badge rounded-pill bg-primary">{{event.category}}</span>
        <p>by {{event.author}}</p>
    </li>
    
</a>
{% endfor%}
</ul>


{% include "../snippets/paginator.html" %}

{%endblock%}
